.container {
  display: flex;
}

.phone-book-container {
  margin: 0 auto;
  position: relative;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 10;
}

.h-one {
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: teal;
}
.photo-container {
  width: 460px;
  position: absolute;
  top: 40px;
  left: 315px;
}
